@import "tailwindcss";
.intro{
    max-width: 1300px;
    /* padding: 10px 40px; */
    width: 70%;
    
}
.hero{
    
   display: flex;
    width: 100%;
     align-items: center;
    justify-content:space-around;
    margin:auto;
    z-index:10;
    overflow-x: hidden!important;
    margin:auto;
    /* border: 1px solid red; */
   
    
}
.hero-container{
      margin: auto;
      padding: auto;
       padding: 1rem;
     width: 90%;
    max-width: 1333px;
      /* border:2px solid pink; */
      gap:2rem;
      padding: 2.5rem;
    
}
.resume{
    width: max-content;
    background-color:hsl(210,100%,60%);
    color: white;
    z-index: 99;
    
    
}



.buttons button{
    padding: 5px 10px;
    padding-left:1.5rem !important;
    padding-right: 1.5rem !important;
}
.scrolling-zone{
    mask-image: linear-gradient(
  to right,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 1) 20%,
  rgba(0, 0, 0, 1) 80%,
  rgba(0, 0, 0, 0)
);
}
.scrolling-text{
   color: #ffffff11!important;
   position: absolute;
   
   bottom: 0;
   line-height:1.8;
   
   
}
.right-image{
    border-radius: 50%;
    
    overflow: hidden;
}