
.Marquee-container{
    display: flex;
   justify-content: space-around;
    width: 95%;
    margin: auto;

    
}
 
.Marquee-slider{
    display:flex;
    
    

}
.skillInfo{
    font-size: 0.7rem;
    position: relative;
    top:0;
   
    display: none;
   

}
.Marquee-slider img:hover .skillInfo{
    display: flex;
}

