@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background-color: #0c0c1d;
  color: lightgray;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
section{
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  font-size: 3rem;

}
