@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet"');
@import "tailwindcss";
body{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme='dark'] {
  --bg-color:#0c0c1d;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Poppins';
}
p{
  text-align: justify;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:hsl(215, 15%, 75%);
  font-weight: 400;
  font-size: 1rem;
    line-height: 1.5;
}