.Work-section{
    width: 90%;
    max-width: 1333px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
   
}
.Tab-section{
    display: flex
;
    
    flex-direction: column;
}
.tabs{ align-self: center;
    font-size: 1.5rem;
   width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.095);
    border-radius: 2rem;
    padding: 0.2rem;
    max-width: 615px;

    justify-content: space-around;
    min-height: 50px;
    align-items: center
}
.tab{
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    /* font-weight:400; */
    /* border:1px solid #ffffff33; */
    border-radius: 2rem;
   
    /* box-shadow: 0 0 10px 1px white; */

}
.active{
     background-color:hsl(210,100%,60%);

}
.inactive{
    background-color: transparent;
}
.content{
    /* border:1px solid white; */
    padding: 2rem 2.5rem;
    


}
/* div{
    border:1px solid white;
} */
.tab-content{
    /* box-shadow: 0 2px 5px 0px rgba(255, 255, 255, 0.5); */
        border:1px solid #ffffff33;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
   
    
}

.tab-content h2{
    font-size: 1.3rem;
    font-weight:bold;
    text-align: left;
}
.workDescription{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap:1.5rem;

}
.tab-content p{
    font-size: 1rem;
    text-align: justify;
} 
.tab-content span{
    font-size: 1rem;
    font-weight:800 ;
    text-align: left;  
   
    
}
.tab-content span a{
     border:1px solid #ffffff33;
    padding: 0.6rem 1.5rem;
    font-weight: 400;


   
    border-radius: 2rem;
} 
.tab-content span a:hover{
  background-color: hsl(210,100%,60%);
  border: none;
}


.tab1{
    height:100%;
    width:100%;
    padding: 1rem;
}
/* .tab1 img{
    width: 25rem;
} */
.hidden{
    display:none;
}
.visible{
    display: block;
}
